[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"
twine = "*"
jupyterthemes = "*"

[packages]
numpy = "*"
scipy = "*"
astropy = "*"
xarray = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
tqdm = "*"
pyyaml = "*"
decode = "*"
fmflow = "*"
dask = {extras = ["complete"],version = "*"}

[requires]
python_version = "3.6.8"

[scripts]
ipython = "ipython"
jupyter = "jupyter notebook"
distribute = """
bash -c 'python setup.py sdist
twine upload dist/$(python setup.py --fullname).tar.gz'
"""
